* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #0D3B66;
    text-align: center;
    color: #C29979;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
    font-size: 8vmin;
    color: #C33149;
    background-color: #C29979;

}

#rbtn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #C29979;
    color:#003E1F;
    border-radius: 1rem;
    border: none;
}

#ngbtn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #C29979;
    color:#003E1F;
    border-radius: 1rem;
    border: none;
}

#msg{
    color:#C29979;
    font-size: 5vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}